body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/4e/b8/97/4eb897ea1f550e323993e70042d823e5.jpg");
	background-color: gray;
	font-family: 'Titillium Web', sans-serif;
}
html, body {
    height: 100%;
}
/*///////RESTAURANT INDEX//////*/

#search {
	width: 400px;
	margin: 0 auto;
}

#search_h3 {
	font-size: 2em;
	font-weight: bold;
}

a {
	color: black;
	font-size: 1.5em;
}

a:hover {
	font-size: 1.4em;
	color: #AD0707;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#food_exerpt {
	font-size: 1.2em;
	margin: 0 auto;
	width: 50%;
}

#home_link {
	font-weight: bold;
	font-size: 2em;
	padding-top: 2%;
	color: #AD0707;
}

.navbar {
  padding-top: 1%;
  margin-bottom: 2%;
	background-color: black;
}

#addBtn {
	padding: 0.7% 12%;
	font-size: 1.5em;
}

.btn {
	background-color: black;
	color: #AB1336;
}

#restaurant_div {
	margin-top: 4%;
}

.table {
	border-radius: 10px;
	background-color: white;
	width: 100%;
	margin: 0 auto ;
	padding
}

tr {
	width: 60%;
}

th {
	color: #AD0707;
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
}

td {
	font-size: 1.2em;
}

.sub_head {
	font-weight: bold;
	font-size: 2em;
}

.link {
	text-decoration: underline;
}

.delete_btn {
	color: #AD0707;
	/*background-color: red;*/
}

h2 {
	padding: 0;
	margin: 0;
}

/*///////RESTAURANT SHOW PAGE//////*/

.yelp_div{
	margin-top: 8%;
}

.yelp {
	width: 9%;
}

.photo {
	padding: 2% 0;
	width: 60%;
}

.yelp:hover {
	width: 10%;
	color: gray;
}

.bold_p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
}

span.bold_p {
	padding-top: 4%;
}

.review_p {
	margin-top: 1%;
	font-size: 1.3em;
	width: 50%;
	margin: 0 auto;
}


.rest_show {
	background-color: #DBD9DE;
/*	margin-bottom: 4%;*/
	margin: 8% auto 7% auto;
	width: 50%;
	/*border: 1px solid black;*/
	border-radius: 10px;
}

.rest_content {
	padding: 5%;
}

footer {
	background-color: black;
	padding:1%;
	margin-top: 7%;
}

#yelp_footer {
	text-align: center;
	width: 10%;
}

#yelp_footer:hover {
	width: 12%;
}







