<div class="rest_show text-center">
	<div class="rest_content">
		<h1>{{restaurant.name}}</h1>

		<p class="bold_p">{{restaurant.cuisine}}</p>
		<p class="bold_p">{{restaurant.location}}</p>
		
		<img src="{{restaurant.photo}}" alt="image of {{restaurant.name}}" class="photo">
		<p class="review_p"><span class="bold_p">My Review:</span><br>{{restaurant.review}}</p>
		<div class="yelp_div">
			<a href="{{restaurant.yelpUrl}}" target="_blank">Click Me<img class="yelp"  src="http://www.shadeshacklajolla.com/images/yelp-icon.png"></a>
		</div>
	</div>
</div>

<!-- <div class="text-center">
	<h4>Edit Me</h4>
	<input ng-model="restaurant.name" ng-change="restaurants.$save(restaurant)" /><br>
	<input ng-model="restaurant.cuisine" ng-change="restaurants.$save(restaurant)"/>
	<button ng-click="restaurants.update(restaurant)">save</button>
</div> -->

<!-- <button ng-click="restaurants.$remove(restaurant)">Ate</button>
 --><!-- <ul class="restaurant-thumbs">
  <li ng-repeat="img in restaurant.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul> -->

<!-- <h2>{{restaurant.name}} </h2>
<h2>{{restaurant.cuisine}} </h2>
 -->